.visualizer-container {
    position:absolute;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}


.visualizer-bar {
    transition: border 0.2s linear;
    border: 1px solid black;
    box-shadow: 0 0 8px black;
    width: 6px;
    margin: 2px;
    background-color: black;
}

h1{
    position: absolute;
    color :red;
}